.flatList{
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;    
    margin-top: 5rem;
    align-items: center;
    
    & > * {
        min-width: max(60%,350px);
    }
}

