<mat-card>
  <div *ngIf="flat.tenantUserId; then thenblock; else elseblock"></div>
</mat-card>

<ng-template #elseblock>

  <mat-card-title>{{ flat.flatName }}</mat-card-title>
  <mat-card-subtitle>
    is not occupied
  </mat-card-subtitle>
  <mat-card-actions>
    <button mat-flat-button color="accent" (click)="assignTenant()">
      <mat-icon>assignment</mat-icon> Assign
    </button>
  </mat-card-actions>

</ng-template>

<ng-template #thenblock>
  <mat-card-title>{{ flat.flatName }}</mat-card-title>
  <mat-card-subtitle>
    {{ flat.tenantName }} - {{ flat.tenantPhoneNumber }}
  </mat-card-subtitle>
  <mat-card-actions>
    <button [routerLink]="['/owner/flat', flat.flatId, flat.tenantUserId]" mat-flat-button color="primary">
      <mat-icon>info</mat-icon> Details
    </button>
    <button mat-flat-button color="primary" (click)="createBill()"><mat-icon>library_books</mat-icon> Add Bill</button>
  </mat-card-actions>
</ng-template>