<form [formGroup]="apartmentForm" (ngSubmit)="submit()">
  <div class="container">
    <div class="formInput">
      <h2>Add Apartment</h2>
      <mat-form-field appearance="fill">
        <mat-label>Name of the Apartment</mat-label>
        <input
          matInput
          class="aptName"
          name="aptName"
          #aptName
          formControlName="name"
        />
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Address</mat-label>
        <input
          matInput
          class="aptName"
          name="aptAddress"
          #aptAddress
          formControlName="address"
        />
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Owner</mat-label>
        <input
          matInput
          class="aptName"
          name="aptOwner"
          #aptOwner
          formControlName="ownerId"
        />
      </mat-form-field>
      <div class="actions">
        <button mat-raised-button color="primary" type="submit">Submit</button>
      </div>
    </div>
  </div>
</form>
