<div class="tabSelector">
  <mat-tab-group
    color="primary"
    backgroundColor="primary"
    dynamicHeight
    mat-align-tabs="center"
  >
    <mat-tab label="Display">
      <div class="aptCardContainer">
        <mat-card class="aptCard" *ngFor="let apt of apartments$ | async">
          <mat-card-title>{{ apt.name }}</mat-card-title>
          <mat-card-subtitle>{{ apt.address }}</mat-card-subtitle>
        </mat-card>
      </div>
    </mat-tab>
    <mat-tab label="Create">
      <form #submitForm="ngForm" (ngSubmit)="getValue(submitForm.value)">
        <div class="container">
          <div class="formInput">
            <h2>Add Apartment</h2>

            <mat-form-field appearance="fill">
              <mat-label>Name of the Apartment</mat-label>
              <input matInput ngModel class="aptName" name="aptName" #aptName />
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>Address</mat-label>
              <input
                matInput
                ngModel
                class="aptName"
                name="aptAddress"
                #aptAddress
              />
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>Owner</mat-label>
              <input
                matInput
                ngModel
                class="aptName"
                name="aptOwner"
                #aptOwner
              />
            </mat-form-field>
            <div class="actions">
              <button mat-raised-button color="primary" (click)="submit()">
                Submit
              </button>
            </div>
          </div>
        </div>
      </form>
    </mat-tab>
  </mat-tab-group>
</div>
