.aptCardContainer {
  padding: 1em;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  height: 100%;

  &>* {
    width: max(60%, 350px);
  }
}