.aptCardContainer {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 5rem;
  align-items: center;
  justify-content: center;
  height: 100%;
  & > * {
    width: max(60%, 450px);
  }
}
