form {
  display: flex;
  flex-direction: column;
  padding: 1rem;

  & button {
    margin-top: 1rem;
  }
}

input[type="number"] {
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}