<form>
  <mat-form-field>
    <mat-label>Flat</mat-label>
    <input matInput autocomplete="off" placeholder="Flat" disabled />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Tenant</mat-label>
    <input matInput autocomplete="off" placeholder="Tenant" />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Rent Amount</mat-label>
    <input matInput type="number" autocomplete="off" placeholder="Rent Amount" />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Due Day</mat-label>
    <input matInput type="number" autocomplete="off" placeholder="Due Day" />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Start date</mat-label>
    <input matInput autocomplete="off" placeholder="Flat" />
  </mat-form-field>
  <button mat-flat-button color="primary">Submit</button>
</form>

<!--
  Tenant Dropdown
  Rent Amount
  Security Deposit
  Due Day
  Start Date (Default today's date)
 -->